 #myName
 {
    color:blue;
 }

 .btn
 {
    color: azure;
    background-color: rgb(21, 62, 227);
    padding: 2px;
    text-align: center;
    border-radius: 35px;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px rgb(33, 122, 177);
    
 }